{% extends '../layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/media.min.css') }}" />
{% endblock %}

{% block body %}
    <div class="container new-page members-page">
       <div class="pages">
           <h1 class="page-name">Пресса</h1>
       </div>
    </div>
    <div class="wrapper" itemscope itemprop="mainContentOfPage">
        <section class="main-block">
            <div class="container video-media display-flex" itemscope itemtype="https://schema.org/Organization">
                <div class="media-gallery">
                    <a itemprop="url" class="block-link" href="http://coworking.md/coworking/404-not-found/" target="_blank">
                        <div class="back-color">
                            <img itemprop="image" class="image-media" src="{{ asset('@img/imgm13.jpg') }}" alt="coworking.md">
                        <div itemprop="name" class="logo-media text-up"><img class="img-logo" src="{{ asset('@img/icon13.png') }}" alt="coworking.md"> Coworking
                            </div>
                        <div class="black-gr"></div>
                           </div>
                        <div itemprop="description" class="media-title">"404Moldova”: объединяет лучшие IT умы Молдовы"
                        </div>
                    </a>
                </div>
                <div class="media-gallery">
                    <a itemprop="url" class="block-link" href="http://locals.md/2017/spatii-de-coworking-din-chisinau-hub-uri-unde-poti-lucra-crea-si-dezvolta-proiecte/" target="_blank">
                        <div class="back-color">
                            <img itemprop="image" class="image-media" src="{{ asset('@img/imgm9.jpg') }}" alt="Locals">
                            <div itemprop="name" class="logo-media text-up"><img class="img-logo" src="{{ asset('@img/icon5.png') }}" alt="Locals"> Locals
                            </div>
                            <div class="black-gr"></div>
                        </div>
                        <div itemprop="description" class="media-title">"Spații de coworking din Chișinău: hub-uri unde poți lucra...
                        </div>
                    </a>
                </div>
                <div class="media-gallery">
                    <a itemprop="url" class="block-link" href="http://www.infomarket.md/ro/infomarket/Noi_oportuniti_de_dezvoltare_pentru_tinerii_specialiti_IT_din_Moldova/" target="_blank">
                        <div class="back-color">
                           <img itemprop="image" class="image-media" src="{{ asset('@img/imgm10.jpg') }}" alt="InfoMarket">
                           <div itemprop="name" class="logo-media"><i class="mdi-information-outline mdi-set" aria-hidden="true"></i> InfoMarket
                           </div>
                           <div class="black-gr"></div>
                        </div>
                        <div itemprop="description" class="media-title">"Noi oportunități de dezvoltare pentru tinerii specialiști IT din Moldova"
                        </div>
                    </a>
                </div>
                <div class="media-gallery">
                    <a itemprop="url" class="block-link" href="http://agora.md/stiri/29246/video--404-not-found-la-chisinau-a-fost-deschis-un-nou-spatiu-de-co-working-destinat-companiilor-it" target="_blank">
                        <div class="back-color">
                            <img itemprop="image" class="image-media" src="{{ asset('@img/imgm1.jpg') }}" alt="Agora">
                            <div itemprop="name" class="logo-media text-up"><img class="img-logo" src="{{asset('@img/icon9.png')}}" alt="Agora"> Agora.md
                            </div>
                            <div class="black-gr"></div>
                        </div>
                        <div itemprop="description" class="media-title">"404Moldova"! La Chișinău a fost deschis un nou spațiu de co-working destinat companiilor IT
                        </div>
                    </a>
                </div>
                <div class="media-gallery">
                    <a itemprop="url" class="block-link" href="https://www.facebook.com/stirilectc/videos/1860589927489436/" target="_blank">
                        <div class="back-color">
                            <img itemprop="image" class="image-media" src="{{ asset('@img/imgm2.jpg') }}" alt="Știrile CTC">
                            <div itemprop="name" class="logo-media"><i class="mdi-facebook-box mdi-set" aria-hidden="true"></i> Știrile CTC
                            </div>
                            <div class="black-gr"></div>
                        </div>
                        <div itemprop="description" class="media-title">La serviciu, ca acasă. Freelancer-ii din Chişinău au un colţişor confortabil unde pot lucra
                        </div>
                    </a>
                </div>
                <div class="media-gallery">
                    <a itemprop="url" class="block-link" href="http://mybusiness.md/ru/otkrytie-biznesa/item/5551-v-stolitse-otkrylsya-kovorking-404-not-found-foto" target="_blank">
                        <div class="back-color">
                            <img itemprop="image" class="image-media" src="{{asset('@img/imgm3.jpg')}}" alt="MyBusiness.md">
                            <div itemprop="name" class="logo-media"><img class="img-logo" src="{{ asset('@img/icon7.png')}}" alt="MyBusiness.md"> MyBusiness.md
                            </div>
                            <div class="black-gr"></div>
                        </div>
                        <div itemprop="description" class="media-title">В столице открылся коворкинг "404Moldova"
                        </div>
                    </a>
                </div>
                <div class="media-gallery">
                    <a itemprop="url" class="block-link" href="http://www.realitatea.md/---404-not-found------un-nou-spatiu-de-coworking-destinat-specialistilor-din-domeniul-it--lansat-la-chisinau--foto-_53708.html" target="_blank">
                        <div class="back-color">
                            <img itemprop="image" class="image-media" src="{{asset('@img/imgm4.jpg')}}" alt="realitatea.md">
                            <div itemprop="name" class="logo-media"><img class="img-logo" src="{{asset('@img/icon4.png')}}" alt="realitatea.md"> realitatea.md
                            </div>
                            <div class="black-gr"></div>
                        </div>
                        <div itemprop="description" class="media-title">"404Moldova" - Un nou spațiu de coworking destinat specialiștilor din domeniul IT...
                        </div>
                    </a>
                </div>
                <div class="media-gallery">
                    <a itemprop="url" class="block-link" href=" http://locals.md/2017/v-kishinyove-otkryilsya-novyiy-it-kovorking/" target="_blank">
                        <div class="back-color">
                            <img itemprop="image" class="image-media" src="{{asset('@img/imgm5.jpg')}}" alt="Locals">
                            <div itemprop="name" class="logo-media text-up"><img class="img-logo" src="{{asset('@img/icon5.png')}}" alt="Locals"> Locals
                            </div>
                            <div class="black-gr"></div>
                        </div>
                        <div itemprop="description" class="media-title">В Кишиневе открылся новый IT коворкинг</div>
                    </a>
                </div>
                <div class="media-gallery">
                    <a itemprop="url" class="block-link" href="http://diez.md/2017/03/10/foto-404-not-found-un-nou-spatiu-de-coworking-s-deschis-la-chisinau/" target="_blank">
                        <div class="back-color">
                            <div itemprop="image" class="image-gradient"><img class="image-media" src="{{asset('@img/imgm6.jpg')}}" alt="diez">
                            </div>
                            <div itemprop="name" class="logo-media"><img class="img-logo" src="{{asset('@img/icon6.png')}}" alt="diez"> diez</div>
                            <div class="black-gr"></div>
                        </div>
                        <div itemprop="description" class="media-title">"404Moldova" un nou spațiu de coworking s-a deschis la Chișinău
                        </div>
                    </a>
                </div>
                <div class="media-gallery">
                    <a itemprop="url" class="block-link" href="http://rtr.md/ro/stiri/tehnologie/oportunitati-de-dezvoltare-pentru-it-sti-foto" target="_blank">
                        <div class="back-color">
                            <img itemprop="image" class="image-media" src="{{asset('@img/imgm7.jpg')}}" alt="Rtr moldova">
                            <div itemprop="name" class="logo-media text-up"><img class="img-logo" src="{{asset('@img/icon3.png')}}" alt="Rtr
                        moldova">Rtr moldova
                            </div>
                            <div class="black-gr"></div>
                        </div>
                        <div itemprop="description" class="media-title">Oportunități de dezvoltare pentru IT-ști</div>
                    </a>
                </div>
                <div class="media-gallery">
                    <a itemprop="url" class="block-link" href="https://www.timpul.md/articol/noi-oportunitai-de-dezvoltare-pentru-tinerii-specialiti-it-din-moldova-106159.html" target="_blank">
                        <div class="back-color">
                            <img itemprop="image" class="image-media" src="{{asset('@img/imgm8.jpg')}}" alt="Timpul.md">
                            <div itemprop="name" class="logo-media"><img class="img-logo" src="{{asset('@img/icon2.png')}}" alt="Timpul.md"> Timpul.md
                            </div>
                            <div class="black-gr"></div>
                        </div>
                        <div itemprop="description" class="media-title">Noi oportunități de dezvoltare pentru tinerii specialiști IT din Moldova
                        </div>
                    </a>
                </div>
                <div class="media-gallery">
                    <a itemprop="url" class="block-link" href="http://bani.md/-404-not-found-un-spatiu-de-coworking-pentru-speciastii-it-in-cloud-computing-si-programare-va-fi-deschis-la-chisinau---89036.html" target="_blank">
                        <div class="back-color">
                            <img itemprop="image" class="image-media" src="{{asset('@img/imgm8.jpg')}}" alt="Bani.md">
                            <div itemprop="name" class="logo-media"><img class="img-logo" src="{{asset('@img/icon1.png')}}" alt="Bani.md">Bani.md</div>
                            <div class="black-gr"></div>
                        </div>
                        <div itemprop="description" class="media-title">
                            "404Moldova" - un spațiu de co-working pentru speciaștii IT ...
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/media.min.js') }}"></script>
{% endblock %}
