{% extends '../layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/members.min.css') }}" />
{% endblock %}

{% block body %}
    <div class="container new-page members-page">
        <div class="pages">
            <span class="text-page">
                В эпоху, когда участие общин и партнерства в гражданском обществе все чаще становятся необходимым, существует необходимость кооперативного развития в мире.
                Бизнес и организация гражданского общества имеют опыт и возможноть, которые имеют жизненно важные значения, чтобы помочь построить более устойчивое глобальное сообщество. (Кофи Аннан)
            </span>
        </div>
    </div>
    <div class="wrapper members" itemscope itemprop="mainContentOfPage">
        <section class="main-block">
            <div class="container instagram-block">
                <div class="instagram"></div>
            </div>
            <div class="members-info visa_versa-block">
                <div class="container flex-row">
                    <div class="flex-item-6 right-block">
                        <h2 class="members-header">
                            <a href="https://www.mitocgroup.com/" target="_blank">Mitoc Group</a>
                        </h2>
                        <p>
                            Основанная в 2014 году экспертами индустии, Mitoc Group была командой, которая верила в серверлесс с самого начала.
                            А началось всё, когда самая инновационная компания Amazon перешла в облачные выичиления запустив свой сервис AWS LAmbda (бета релиз).
                            Очень мало кто верил в вычислительные способности при помощи виртуализации и контейнеризации.
                            У нас была возможность пройти этот путь, с “вов - это работает” до “эх парень, уже все это используют”.
                        </p>
                        <p>
                            Последние пару лет были взлеты и болезненными падениями. И конечно, мы многому научились!
                        </p>
                    </div>
                    <div class="left-block flex-item-6">
                        <a href="https://www.mitocgroup.com/" class="logo" target="_blank">
                            <img src="{{ asset('@img/logo-mitoc.svg') }}" alt="Mitoc Group" class="mitoc-logo" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="members-info">
                <div class="container flex-row">
                    <div class="left-block flex-item-6">
                        <a href="https://www.adtechmedia.io" class="logo" target="_blank">
                            <img src="{{ asset('@img/logo-adtechmedia.svg') }}" alt="AdTechMedia Platform" class="adtechmedia" />
                        </a>
                    </div>
                    <div class="flex-item-6 right-block">
                        <h2 class="members-header"><a target="_blank" href="https://www.adtechmedia.io">AdTechMedia</a></h2>
                        <p> Миссия
                            <a target="_blank" href="https://www.adtechmedia.io">AdTechMedia</a> - создание самого простого в мире продукта по монетизации контента.
                            Представьте, что вы издатель, журналист или блоггер, и ваш основной бизнес - это создание контента, который нравится людям.
                            У вас есть дополнительное время, в вашем напряженном графике, чтобы узнать, как настроить и управлять Apple Pay или PayPal, Google Doubleclick For Publishers или Revive Ad Server, JavaScript или NodeJS?
                            Если ваш ответ “нет", пожалуйста, продолжайте читать ...
                        </p>
                        <p>
                            Продукт AdTechMedia упрощает получение дохода, от созданного вами контента.
                            Всего за пару кликов вы сможете:
                        </p>
                        <ul>
                            <li>
                                <span>установить и активировать плагин WordPress с wordpress.org (или модуль Drupal от drupal.org), при этом, никаких технических навыков не требуется;</span>
                            </li>
                            <li>
                                <span>выберите варианты оплаты, которые ваши читатели смогут предоставить без проблем;</span>
                            </li>
                            <li>
                                <span>настройте внешний вид плагина AdTechMedia таким образом, будто он является частью сайта.</span>
                            </li>
                        </ul>
                        <p>
                            Когда читатели зайдут на веб-страницу с контентом,
                            наш плагин оставит открытыми только пару абзацев и заблокирует остальную часть контента,
                            предлагая читателям ровно два варианта оплаты из трех возможных:
                        </p>
                        <ul>
                            <li><span>оплата за статью с использованием микроплатежей</span></li>
                            <li><span>месячная подписка на весь контент</span></li>
                            <li><span>просмотр рекламы, чтобы продолжить чтение статьи бесплатно</span></li>
                        </ul>
                        <p>
                            <a target="_blank" href="https://manage.adtechmedia.io/accounts/signup">Зарегистрируйся</a> или
                            <a target="_blank" href="https://manage.adtechmedia.io/accounts/signin">войди в систему</a> сегодня!
                        </p>
                    </div>
                </div>
            </div>
            <div class="members-info visa_versa-block">
                <div class="container flex-row">
                    <div class="flex-item-6 right-block">
                        <h2 class="members-header">
                            <a href="http://impactacademies.com/ru/home" target="_blank">ImpacT Academies &amp; Camps</a>
                        </h2>
                        <p>
                            ImpacT Academies &amp; Camps основана для предоставления возможности нашим детям получить необходимые
                            навыки и обучить их цифровой грамотности с целью перейти со стадии потребителя технологий в их создателя.
                            Даже если ребенок не станет работать в этой сфере, без таких способностей почти невозможно будет добиться успеха в современном мире.
                        </p>
                        <p>
                            Используя собственную учебную программу, адаптированную из школ Силиконовой долины,
                            мы обучаем не только техническим навыкам – графическому дизайну, программированию,
                            разработке сайтов, игр, робототехнике, но и soft-skills направленных на управление личным развитием,
                            умению грамотно управлять своим временем, умению убеждать, навыкам ведения переговоров и т.д.
                        </p>
                        <p>
                            Мы рады расширить возможности будущего поколения, предоставив им все нужные навыки чтобы
                            стать лидерами в цифровую эру. Присоединяйтесь к нашему путешествию!
                        </p>
                    </div>
                    <div class="left-block flex-item-6">
                        <a href="http://impactacademies.com/ru/home" class="logo" target="_blank">
                            <img src="{{ asset('@img/impact.svg') }}" alt="ImpacT Academies & Camps" class="iello-logo" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="members-info">
                <div class="container flex-row">
                    <div class="left-block flex-item-6">
                        <a href="http://www.iello.ro/" class="logo">
                            <img src="{{ asset('@img/iello.png') }}" alt="iEllo IT" class="iello-logo" />
                        </a>
                    </div>
                    <div class="flex-item-6 right-block">
                        <h2 class="members-header"><a href="http://www.iello.ro/" target="_blank">iEllo IT</a></h2>
                        <p>
                            iELLO - это международный провайдер IT решений, специализирующийся на программной разработке и SOA интеграции,
                            которые предоставляют организациям беспрецедентную гибкость, масштабируемость, совместимость и производительность.
                        </p>
                        <p>
                            iELLO гордится ролью первопроходца в предоставлении услуг по SOA интеграции в регионе,
                            базируясь на 100% платформе промежуточного ПО с открытым исходным кодом корпоративного класса от WSO2.
                        </p>
                        <p>
                            Наша команда создала великолепную репутацию, реализуя самые сложные проекты и предоставляю
                            оперативную поддержку наших клиентов, как на этапе реализации, так и на этапе производства.
                        </p>
                        <p>
                            Маневренность iELLO обеспечивается обширными знаниями и опытом команды, которые позволяют
                            нам реагировать на требования клиентов в коммерчески-сложной и технически-конкурентной среде.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/members.min.js') }}"></script>
{% endblock %}
