<header class="main-nav">
    <div class="container">
        <div class="logo">
            <a href="/ru">
                <img class="img-logo" src="{{asset('@img/logo-right-black.svg')}}" alt="Logo 404Moldova" />
            </a>
        </div>
        <div class="flag">
            <a class="language" href="/ro{{ routeName|slice(3) }}"><img src="{{ asset('@img/flag-ro.png') }}" alt="Romanian Flag"></a>
            <a class="language" href="{{ routeName|slice(3) }}"><img src="{{ asset('@img/flag-us.png') }}" alt="American Flag"></a>
        </div>        
        <div class="nav-top" id="navigation">
            <div id="menu-toggle">
                <div id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div id="cross">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <ul class="navt" id="myTopnav">
                <li class="{{  routeName == '/ru/pricing' ? 'current-item'}}"><a class="link {{  routeName == '/ru/pricing' ? 'active'}}" href="/ru/pricing/">Цены</a></li>
                <li class="{{  routeName == '/ru/events' ? 'current-item'}}"><a class="link {{  routeName == '/ru/events' ? 'active'}}" href="/ru/events/">События</a></li>
                <li class="{{  routeName == '/ru/members' ? 'current-item'}}"><a class="link {{  routeName == '/ru/members' ? 'active'}}" href="/ru/members/">Участники</a></li>
                <li class="{{  routeName == '/ru/media' ? 'current-item'}}"><a class="link {{  routeName == '/ru/media' ? 'active'}}" href="/ru/media/">Пресса</a></li>
                <li class="{{  routeName == '/ru/gallery' ? 'current-item'}}"><a class="link {{  routeName == '/ru/gallery' ? 'active'}}" href="/ru/gallery/">Галерея</a></li>
                <li class="{{  routeName == '/ru/contact' ? 'current-item'}}"><a class="link {{  routeName == '/ru/contact' ? 'active'}}" href="/ru/contact/">Контакт</a></li>
                <li><a class="link" href="https://blog.404.md" target="_blank">Блог</a></li>
                <li><a class="last-line" href="/ru/tour/"><span class="blog">Забронируйте обход</span></a></li>
            </ul>
            <span id="slide-line"></span>
        </div>
        <div class="clear"></div>
    </div>    
</header>
