{% extends '../layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/pricing.min.css') }}" />
{% endblock %}

{% set amenities = [
    {'name': 'Скоростной Интернет', 'image': '@img/icon-4.svg'},
    {'name': 'Конференц - Залы', 'image': '@img/icon-5.svg'},
    {'name': 'Возможность Печати', 'image': '@img/icon-6.svg'},
    {'name': '24/7 доступ', 'image': '@img/icon-10.svg'},
    {'name': 'Постоянные Мероприятия', 'image': '@img/icon-7.svg'},
    {'name': 'Удобное Расположение', 'image': '@img/icon-8.svg'},
    {'name': 'Aдминистратор', 'image': '@img/icon-1.svg'},
    {'name': 'Вода', 'image': '@img/icon-9.svg'},
    {'name': 'Современная Кухня', 'image': '@img/icon-3.svg'},
    {'name': 'Уборка Помещения', 'image': '@img/icon-2.svg'}
]%}

{% set hubs = [
    {'text': 'Рабочее место'},
    {'text': 'Доступны конференц-залы'},
    {'text': 'Бесплатное посещение всех тренингов и мероприятий'},
    {'text': '24-часовой доступ'},
    {'text': 'Кофе, чай, фрукты и печенье'},
    {'text': 'Свободное общение с партнерами 404'},
    {'text': 'Приглашения для 2 друзей на 1 неделю'},
    {'text': 'Бесплатное использование проектора'},
    {'text': 'Камера хранения / серверная'}
]%}

{% set teams = [
    {'text': 'Фиксированное рабочее место'},
    {'text': 'Доступны конференц-залы'},
    {'text': 'Посещение всех тренингов и мероприятий'},
    {'text': '24-часовой доступ'},
    {'text': 'Кофе, чай, фрукты и печенье'},
    {'text': 'Свободное общение с партнерами 404'},
    {'text': 'Бесплатные билеты на конференции Cloud Computing'},
    {'text': 'Сертификаты Cloud Computing'},
    {'text': 'Камера хранения / серверная'}
]%}

{% set days = [
    {'text': 'Фиксированное рабочее место'},
    {'text': 'Доступны конференц-залы'},
    {'text': 'Посещение 1 тренинга и мероприятия'},
    {'text': '24-часовой доступ'},
    {'text': 'Кофе, чай, фрукты и печенье'}
]%}

{% set weekdays = [
    {'text': 'Фиксированное рабочее место'},
    {'text': 'Доступное время с 9:00 - 18:00'},
    {'text': 'Доступны конференц-залы'},
    {'text': 'Посещение всех тренингов и мероприятий'},
    {'text': 'Кофе, чай, фрукты и печенье'}
]%}

{% block body %}
    <div class="container new-page">
        <div class="pages">
            <span class="text-page">
                404Moldova это сообщество для IT-бизнеса и IT-специалистов из Молдовы. Мы хотим дать возможность
                маленьким компаниям и квалифицированным специалистам стать конкурентоспособными на мировом рынке.
                Члены нашего сообщества гордятся тем что работают с Fortune 500 клиентами из Европы и США.
            </span>
        </div>
    </div>
    <div class="wrapper pricing" itemscope itemprop="mainContentOfPage">
        <section class="main-block">
            <div class="container">
                <div class="offers">
                    <div class="plans">
                        <div class="plan">
                            <img src="{{ asset('@img/plan1.jpg') }}" alt="Test Drive" />
                            <div class="text-plan">
                                <div class="text-p">Hub Resident</div>
                                <div class="btn-plan">
                                    <a itemprop="url" href="https://orders.fest.md/ro/biz/404-moldova" class="button" target="_blank">Забронируй свое место</a>
                                </div>
                            </div>
                        </div>
                        <div class="plans-points">
                            <div class="text-p">2500 MDL</div>
                            <ul>
                                {% for hub in hubs %}
                                    <li><span>{{ hub.text }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="btn-plan-contact">
                            <a itemprop="url" href="/ru/contact" class="button ru">Свяжитесь с нами</a>
                        </div>
                    </div>
                    <div class="plans">
                        <div class="plan">
                            <img src="{{ asset('@img/plan2.jpg') }}" alt="Free Plan" />
                            <div class="text-plan">
                                <div class="text-p">Teams</div>
                                <div class="btn-plan">
                                    <a itemprop="url" href="https://orders.fest.md/ro/biz/404-moldova" class="button" target="_blank">Забронируй свое место</a>
                                </div>
                            </div>
                        </div>
                        <div class="plans-points">
                            <div class="text-p">
                                <div class="number-input">
                                    <button class="change-quantity" data-event="minus"></button>
                                    <input class="quantity" min="1" name="quantity" value="2" type="number">
                                    <button class="change-quantity plus" data-event="plus"></button>
                                </div>
                                <div class="price">
                                    <span id="team-price-value">4750</span><span> MDL</span>
                                </div>
                            </div>
                            <ul>
                                {% for team in teams %}
                                    <li><span>{{ team.text }}</span></li>
                                {% endfor %}
                            </ul>
                            <div class="notes">
                                <div class="glay-line"></div>
                                <p class="gray-text">Свободное членство</p>
                                <p class="gray-text">Самое важное преимущество нашего сообщества - бесплатное членство.
                                    Если участник выбран для работы над проектом (ами) партнера, партнер оплачивает членские взносы для участника.
                                </p>
                            </div>
                        </div>
                        <div class="btn-plan-contact">
                            <a itemprop="url" href="/ru/contact" class="button ru">Свяжитесь с нами</a>
                        </div>
                    </div>
                    <div class="plans">
                        <div class="plan">
                            <img src="{{ asset('@img/plan3.jpg') }}" alt="Individual" />
                            <div class="text-plan">
                                <div class="text-p">Day Pass</div>
                                <div class="btn-plan">
                                    <a itemprop="url" href="https://orders.fest.md/ro/biz/404-moldova" class="button" target="_blank">Забронируй свое место</a>
                                </div>
                            </div>
                        </div>
                        <div class="plans-points">
                            <div class="text-p">150 MDL</div>
                            <ul>
                                {% for day in days %}
                                    <li><span>{{ day.text }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="btn-plan-contact">
                            <a itemprop="url" href="/ru/contact" class="button ru">Свяжитесь с нами</a>
                        </div>
                    </div>
                    <div class="plans">
                        <div class="plan">
                            <img src="{{ asset('@img/plan4.jpg') }}" alt="Business" />
                            <div class="text-plan">
                                <div class="text-p">Weekdays</div>
                                <div class="btn-plan">
                                    <a itemprop="url" href="https://orders.fest.md/ro/biz/404-moldova" class="button" target="_blank">Забронируй свое место</a>
                                </div>
                            </div>
                        </div>
                        <div class="plans-points">
                            <div class="text-p">550 MDL/week</div>
                            <ul>
                                {% for weekday in weekdays %}
                                    <li><span>{{ weekday.text }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="btn-plan-contact">
                            <a itemprop="url" href="/ru/contact" class="button ru">Свяжитесь с нами</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container new-page">
                <div class="pages coworking">
                    <h1 class="page-name">Удобства</h1>
                    <p class="text-p">Все предложения включают: </p>
                </div>
                <div class="amenities-block display-flex">
                    {% for amenity in amenities %}
                        <div class="bloks-icons">
                            <img src="{{ asset( amenity.image ) }}" alt="{{ amenity.name }}">
                            <div class="icons-text">{{ amenity.name }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/pricing.min.js') }}"></script>
{% endblock %}
