{% extends 'layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/gallery.min.css') }}" />
{% endblock %}

{% block body %}
    <div class="jumbotron">
<<<<<<< HEAD
     <div class="block">
      <h1>{{ greeting }}</h1>
        <p class="forp1">This is an example of gallery's page.</p>
        <img src="{{ asset('@img/404.png') }}" class="img-thumbnail" width="304" height="236">
=======
        <h1>{{ greeting }}</h1>
        <p>This is an example of gallery's page.</p>
>>>>>>> 2f90f6ed29aa64468bb4bfa6f4fa216d200554ec
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('@js/gallery.min.js') }}"></script>
{% endblock %}
