{% extends '../layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/contact.min.css') }}" />
{% endblock %}

{% set fields = [
    {'class': 'group mc-form-group-NAME', 'id': 'name', 'name': 'NAME', 'text': 'Name'},
    {'class': 'group mc-form-group-PHONE', 'id': 'phone', 'name': 'PHONE', 'text': 'Phone'},
    {'class': 'group mc-form-group-EMAIL', 'id': 'email', 'name': 'EMAIL', 'text': 'E-mail'},
    {'class': 'group mc-form-group-MESSAGE', 'id': 'msg', 'name': 'MESSAGE', 'text': 'Message'}
]%}

{% block body %}
    <div class="container new-page">
        <div class="pages">
            <span class="text-page">
                404Moldova is a coworking space for IT businesses and IT people from Moldova. We want to empower local
                community of small companies and skilled individuals to be competitive globally.
            </span>
        </div>
    </div>
    <div class="wrapper contact" itemscope itemprop="mainContentOfPage">
        <section class="main-block">
            <div class="container">
                <div id="map" class="map-style"></div>
                <div class="input-field">
                    <form id="subscribe-contact-form" class="hole-form">
                        <h2 class="heading-contact">Get in touch</h2>
                        <div class="indicates-required">
                            <span class="asterisk">*</span>indicates required
                        </div>
                        {% for field in fields %}
                        <div class="{{ field.class }}">
                            <input id="{{ field.id }}" class="empty-field required" type="text" name="{{ field.name }}">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="label-form" for="{{ field.id }}">
                                {{ field.text }}
                                <span class="asterisk">*</span>
                            </label>
                            <div class="mc-error"></div>
                        </div>
                        {% endfor %}
                        <div id="mc-general-error"></div>
                        <input type="submit" value="Submit" name="Submit" id="submit-form" class="button button-contact">
                        {#<input type="submit" value="Schedule your tour" name="schedule your tour" id="submit-form" class="button">#}
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/contact.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMl1HPvxC30Mtcbe6gKWZjiccGAYopsQA&callback=myMap" async defer></script>
{% endblock %}
