{% extends '../layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/index.min.css') }}" />
{% endblock %}

{% block body %}
    <div class="wrapper main" itemscope itemprop="mainContentOfPage">
        <div class="main-block">
            <header class="main-nav">
                <div class="container">
                    <div class="logo" itemscope itemtype="https://schema.org/Organization">
                        <a href="/" itemprop="url">
                            <img itemprop="logo" class="img-logo" src="{{ asset('@img/logo-right-white.svg') }}" alt="Logo 404Moldova" />
                            <meta itemprop="url" content="https://www.404.md/image/logo-right-white.svg">
                        </a>
                    </div>
                    <div class="flag">
                        <a class="language" href="/ro"><img src="{{ asset('@img/flag-ro.png') }}" alt="Romanian Flag"></a>
                        <a class="language" href="/ru"><img src="{{ asset('@img/flag-ru.png') }}" alt="Russian Flag"></a>
                    </div>  
                    <div class="nav-top main-page-nav" id="navigation">
                        <div id="menu-toggle">
                            <div id="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div id="cross">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <ul class="navt" id="myTopnav">
                            <li><a class="link" href="/pricing">Pricing</a></li>
                            <li><a class="link" href="/events">Events</a></li>
                            <li><a class="link" href="/members">Members</a></li>
                            <li><a class="link" href="/media">Media</a></li>
                            <li><a class="link" href="/gallery">Gallery</a></li>
                            <li><a class="link" href="/contact">Contact</a></li>
                            <li><a class="link" href="https://blog.404.md" target="_blank">Blog</a></li>
                            <li class="current-item hide-line">
                                <a class="last-line" href="/tour"><span class="blog">Book a Tour</span></a>
                            </li>
                        </ul>
                        <span id="slide-line"></span>
                    </div>
                    <div class="clear"></div>
                </div>
            </header>
            <section class="container main-info">
                <div class="local-com" itemscope itemtype="https://schema.org/Organization">
                    <h1 itemprop="name">Coworking Space.</h1>
                    <h2 itemprop="name">Local Community.</h2>
                    <div itemprop="description" class="text-center">
                        404Moldova is a coworking space for IT businesses and IT people from Moldova. We want to empower
                        local IT community of small companies and skilled individuals to be competitive globally.
                        Members of our community are proud to be working with Fortune 500 customers from Europe and USA.
                    </div>
                    <div class="more" itemscope itemtype="https://schema.org/SiteNavigationElement">
                        <a class="more-about" href="/tour" itemprop="url">Book a Tour</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/terms.min.js') }}"></script>
{% endblock %}
