{% extends '../layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/members.min.css') }}" />
{% endblock %}

{% block body %}
    <div class="container new-page members-page">
        <div class="pages">
            <span class="text-page">
                In an age where community involvement and partnerships with civil society are increasingly being
                recognized as indispensable, there is clearly a growing potential for cooperative development and
                renewal worldwide. Business, labor and civil society organizations have skills and resources that are
                vital in helping to build a more robust global community. (Kofi Annan)
            </span>
        </div>
    </div>
    <div class="wrapper members" itemscope itemprop="mainContentOfPage">
        <section class="main-block">
            <div class="container instagram-block">
                <div class="instagram"></div>
            </div>
            <div class="members-info visa_versa-block">
                <div class="container flex-row">
                    <div class="flex-item-6 right-block">
                        <h2 class="members-header">
                            <a href="https://www.mitocgroup.com/" target="_blank">Mitoc Group</a>
                        </h2>
                        <p>
                            Founded in 2014 by industry experts, Mitoc Group emerged as a team of serverless believers
                            from the beginning. Our journey started in the same moment with one of the most innovative
                            and bold move from cloud computing leader Amazon Web Service to launch in beta a new service
                            called AWS Lambda. Very few at that point were dreaming of a compute service that embeds
                            the best of virtualization and containerization. We had the privilege to live it through
                            from "oh wow, nice shiny toy" to "oh boy, everybody is using it".
                        </p>
                        <p>
                            The last couple of years have been an interesting rollercoaster, with beautiful ups and
                            painful downs. And, my friend, did we learn a lot!
                        </p>
                    </div>
                    <div class="left-block flex-item-6">
                        <a href="https://www.mitocgroup.com/" class="logo" target="_blank">
                            <img src="{{ asset('@img/logo-mitoc.svg') }}" alt="Mitoc Group" class="mitoc-logo" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="members-info">
                <div class="container flex-row">
                    <div class="left-block flex-item-6">
                        <a href="https://www.adtechmedia.io" class="logo" target="_blank">
                            <img src="{{ asset('@img/logo-adtechmedia.svg') }}" alt="AdTechMedia Platform" class="adtechmedia" />
                        </a>
                    </div>
                    <div class="flex-item-6 right-block">
                        <h2 class="members-header"><a target="_blank" href="https://www.adtechmedia.io">AdTechMedia</a></h2>
                        <p>
                            <a target="_blank" href="https://www.adtechmedia.io">AdTechMedia</a> is on a mission to
                            build the world’s most simple content monetization product. Imagine you are a publisher, a
                            journalist or a blogger, and your core business is to create content that people love.
                            Do you have extra time in your busy schedule to learn how to setup and manage Apple Pay or
                            PayPal, Google Doubleclick For Publishers or Revive Ad Server, JavaScript or NodeJS? If the
                            answer is strong NO, please continue reading...
                        </p>
                        <p>
                            AdTechMedia product simplifies content creators journey to revenue generation.
                            In just couple of clicks, you can:
                        </p>
                        <ul>
                            <li>
                                <span>install and activate WordPress plugin from wordpress.org (or Drupal module from drupal.org), no technical skills required;</span>
                            </li>
                            <li>
                                <span>choose the revenue options your readers will be seamlessly provided;</span>
                            </li>
                            <li>
                                <span>customize any other look and feel settings that will make AdTechMedia plugin perform natively on your website.</span>
                            </li>
                        </ul>
                        <p>
                            Once readers land on your content webpage, our plugin will leave open just couple of paragraphs
                            and lock the rest of the content, offering readers exactly two payment options out of three:
                        </p>
                        <ul>
                            <li><span>pay per article using micropayments</span></li>
                            <li><span>subscribe per month for unlimited consumption or</span></li>
                            <li><span>view an ad to continue reading for free</span></li>
                        </ul>
                        <p>
                            <a target="_blank" href="https://manage.adtechmedia.io/accounts/signup">Register</a> or
                            <a target="_blank" href="https://manage.adtechmedia.io/accounts/signin">login</a> today!
                        </p>
                    </div>
                </div>
            </div>
            <div class="members-info visa_versa-block">
                <div class="container flex-row">
                    <div class="flex-item-6 right-block">
                        <h2 class="members-header">
                            <a href="http://impactacademies.com/ru/home" target="_blank">ImpacT Academies &amp; Camps</a>
                        </h2>
                        <p>
                            ImpacT Academies &amp; Camps was created to give children the ability to get the digital skills
                            needed to turn them from consumers to technological creators. Even if the child in the
                            future will not activate in this sphere, these skills will help him achieve success in the
                            contemporary world.
                        </p>
                        <p>
                            Using our own educational program, adapted from Silicon Valley schools, we teach not only
                            technical skills - graphic design, programming, web sites, games, robotics, but also personal
                            development skills: ability to manage time correctly, presentation skills, persuasion,
                            negotiation, and others.
                        </p>
                        <p>
                            We are glad to extend the horizon of opportunities to the next generation, providing the
                            skills needed to become a leader in the digital age. Join our trip!
                        </p>
                    </div>
                    <div class="left-block flex-item-6">
                        <a href="http://impactacademies.com/ru/home" class="logo" target="_blank">
                            <img src="{{ asset('@img/impact.svg') }}" alt="ImpacT Academies & Camps" class="iello-logo" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="members-info">
                <div class="container flex-row">
                    <div class="left-block flex-item-6">
                        <a href="http://www.iello.ro/" class="logo">
                            <img src="{{ asset('@img/iello.png') }}" alt="iEllo IT" class="iello-logo" />
                        </a>
                    </div>
                    <div class="flex-item-6 right-block">
                        <h2 class="members-header"><a href="http://www.iello.ro/" target="_blank">iEllo IT</a></h2>
                        <p>
                            iELLO is an international IT solutions provider specialized in software development and SOA
                            integration that provide organizations with unprecedented agility, scalability,
                            interoperability, features and performance.
                        </p>
                        <p>
                            iELLO is proud of the self-assumed pioneering role as a SOA integration solutions provider
                            in the region, based on a 100% enterprise class open source middleware platform from WSO2.
                        </p>
                        <p>
                            Our team has built an excellent reputation by implementing the most challenging projects
                            and by promptly supporting our customers either during implementations or production support.
                        </p>
                        <p>
                            iELLO’s agility is supported by the extensive knowledge and expertise of the team that
                            enable us to respond to customer requirements in a commercial challenging and technical
                            competitive environment.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/members.min.js') }}"></script>
{% endblock %}
