<header class="main-nav">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img class="img-logo" src="{{ asset('@img/logo-right-black.svg') }}" alt="Logo 404Moldova" />
            </a>
        </div>
        <div class="flag">
            <a class="language" href="/ro{{ routeName }}"><img src="{{ asset('@img/flag-ro.png') }}" alt="Romanian Flag"></a>
            <a class="language" href="/ru{{ routeName }}"><img src="{{ asset('@img/flag-ru.png') }}" alt="Russian Flag"></a>
        </div>
        <div class="nav-top" id="navigation">
            <div id="menu-toggle">
                <div id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div id="cross">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <ul class="navt" id="myTopnav">
                <li class="{{ routeName == '/pricing' ? 'current-item' }}"><a class="link {{ routeName == '/pricing' ? 'active' }}" href="/pricing">Pricing</a></li>
                <li class="{{ routeName == '/events' ? 'current-item' }}"><a class="link {{ routeName == '/events' ? 'active' }}" href="/events">Events</a></li>
                <li class="{{ routeName == '/members' ? 'current-item' }}"><a class="link {{ routeName == '/members' ? 'active' }}" href="/members">Members</a></li>
                <li class="{{ routeName == '/media' ? 'current-item' }}"><a class="link {{ routeName == '/media' ? 'active' }}" href="/media">Media</a></li>
                <li class="{{ routeName == '/gallery' ? 'current-item' }}"><a class="link {{ routeName == '/gallery' ? 'active' }}" href="/gallery">Gallery</a></li>
                <li class="{{ routeName == '/contact' ? 'current-item' }}"><a class="link {{ routeName == '/contact' ? 'active' }}" href="/contact">Contact</a></li>
                <li><a class="link" href="https://blog.404.md" target="_blank">Blog</a></li>
                <li><a class="last-line" href="/tour"><span class="blog">Book a Tour</span></a></li>
            </ul>
            <span id="slide-line"></span>
        </div>
        <div class="clear"></div>
    </div>
</header>
