{% extends '../layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/events.min.css') }}" />
{% endblock %}

{% set amenities = [
    {'name': 'Proiector', 'image': '@img/icon-11.svg'},
    {'name': '3 Săli de Conferințe', 'image': '@img/icon-5.svg'},
    {'name': '60 Locuri', 'image': '@img/icon-12.svg'},
    {'name': 'Pauză de Cafea', 'image': '@img/icon-13.svg'}
]%}

{% block body %}
    <div class="wrapper">
        <div class="container new-page events">
            <div class="events-fb pages flex-row"></div>
            {# <div class="container new-page"> #}
                <div class="pages coworking">
                    <h1 class="page-name">Găzduiește un eveniment</h1>
                    <p class="text-p">Sau următoarea ta întâlnire aici:</p>
                </div>
            {# </div> #}
            <div class="display-flex flex-row">
                <div class="meeting-room flex-item-4">
                    <div><img src="{{ asset('@img/meeting1.jpg') }}" alt="Meeting Room"></div>
                    <div><img src="{{ asset('@img/meeting2.jpg') }}" alt="Meeting Room"></div>
                    <div><img src="{{ asset('@img/meeting3.jpg') }}" alt="Meeting Room"></div>
                    <div><img src="{{ asset('@img/meeting4.jpg') }}" alt="Meeting Room"></div>
                </div>
                <div class="amenities-block display-flex flex-item-6">
                    {% for amenity in amenities %}
                        <div class="bloks-icons">
                            <img src="{{ asset( amenity.image ) }}" alt="{{ amenity.name }}">
                            <div class="icons-text">{{ amenity.name }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="price flex-item-2">
                    <div class="price-block">
                        <span>Pentru doar</span>
                        <span>250</span>
                        <span>lei/ora</span>
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/events.min.js') }}"></script>
{% endblock %}
