{% extends '../layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/members.min.css') }}" />
{% endblock %}

{% block body %}
    <div class="container new-page members-page">
        <div class="pages">
            <span class="text-page">
                În epoca în care implicarea comunității și parteneriatele cu societatea civilă sunt în creștere fiind
                recunoscute ca indispensabile, este clar o creștere a potențialului pentru dezvoltarea cooperativă
                și recunoașterea mondială. Organizațiile de business, muncă și societatea civilă au posibilități și
                resurse care sunt vitale in ajutarea creării unei comunități mai puternice. (Kofi Annan)
            </span>
        </div>
    </div>
    <div class="wrapper members" itemscope itemprop="mainContentOfPage">
        <section class="main-block">
            <div class="container instagram-block">
                <div class="instagram"></div>
            </div>
            <div class="members-info visa_versa-block">
                <div class="container flex-row">
                    <div class="flex-item-6 right-block">
                        <h2 class="members-header">
                            <a href="https://www.mitocgroup.com/" target="_blank">Mitoc Group</a>
                        </h2>
                        <p>
                            Fondată în 2014 de experți din industrie, Mitoc
                            Group a apărut de la început ca o echipă de
                            credincioși fără server. Călătoria noastră a
                            început în același moment cu una dintre cele
                            mai inovatoare și îndrăznețe ale liderului de
                            cloud computing Amazon Web Service pentru a
                            lansa în beta un nou serviciu numit AWS
                            Lambda. Foarte puțini la acel moment visau la
                            un serviciu de calcul care încorporează cel mai
                            bun mod de virtualizare și containerizare. Am
                            avut privilegiul de a trece de la “o wow, o jucărie
                            strălucitoare” la “băieți, toată lumea o folosește”.
                        </p>
                        <p>
                            Ultimii câțiva ani au fost un rollercoaster
                            interesant, cu suișuri frumoase și coborâșuri
                            dureroase. Și, am învățat multe!
                        </p>
                    </div>
                    <div class="left-block flex-item-6">
                        <a href="https://www.mitocgroup.com/" class="logo" target="_blank">
                            <img src="{{ asset('@img/logo-mitoc.svg') }}" alt="Mitoc Group" class="mitoc-logo" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="members-info">
                <div class="container flex-row">
                    <div class="left-block flex-item-6">
                        <a href="https://www.adtechmedia.io" class="logo" target="_blank">
                            <img src="{{ asset('@img/logo-adtechmedia.svg') }}" alt="AdTechMedia Platform" class="adtechmedia" />
                        </a>
                    </div>
                    <div class="flex-item-6 right-block">
                        <h2 class="members-header"><a target="_blank" href="https://www.adtechmedia.io">AdTechMedia</a></h2>
                        <p>
                            <a target="_blank" href="https://www.adtechmedia.io">AdTechMedia</a> este angajată într-o misiune de
                            construcție a celui mai simplu produs din lume
                            de monetizare a conținutului media. Imaginați-
                            vă că sunteți un editor, un
                            jurnalist sau un blogger, iar preocuparea dvs. principală este de
                            a crea conținut media pe care oamenii îl iubesc.
                            Aveți timp suplimentar în programul extrem de
                            ocupat pentru a identifica cum să configurați și
                            să gestionați Apple Pay sau PayPal, Google
                            Doubleclick For Publishers sau Revive Ad
                            Server, JavaScript sau NodeJS? Dacă răspunsul
                            este un NU puternic, continuați să citiți...
                        </p>
                        <p>
                            Produsul AdTechMedia simplifică viața
                            creatorilor de conținut media în necesitatea de
                            bază de a genera venituri bănești. În doar câteva
                            click-uri, puteți:
                        </p>
                        <ul>
                            <li>
                                <span>să instalați și să activați plugin-ul WordPress de pe wordpress.org (sau modulul Drupal de pe drupal.org), fără a avea abilități tehnice;</span>
                            </li>
                            <li>
                                <span>să alegeți opțiunile de monetizare pe care cititorii dvs. le vor putea folosi fără bariere majore;</span>
                            </li>
                            <li>
                                <span>să personalizați orice alte setări de aspect și de utilitate care vor permite plugin-ului AdTechMedia să funcționeze în mod nativ pe website-ul dvs.</span>
                            </li>
                        </ul>
                        <p>
                            Odată ce cititorii dvs. ajung pe pagina de web a conținutului media, plugin-ul nostru va lăsa deschise doar câteva paragrafe
                            și va bloca restul conținutului, oferind cititorilor exact două opțiuni de plată din trei:
                        </p>
                        <ul>
                            <li><span>plata pe articol utilizând microplăți;</span></li>
                            <li><span>abonament pentru consum nelimitat sau</span></li>
                            <li><span>vizualizare publicitate pentru a continua cititul gratuit.</span></li>
                        </ul>
                        <p>
                            <a target="_blank" href="https://manage.adtechmedia.io/accounts/signup">Înregisterează-te</a> sau
                            <a target="_blank" href="https://manage.adtechmedia.io/accounts/signin">autentifică-te</a> acum!
                        </p>
                    </div>
                </div>
            </div>
            <div class="members-info visa_versa-block">
                <div class="container flex-row">
                    <div class="flex-item-6 right-block">
                        <h2 class="members-header">
                            <a href="http://impactacademies.com/ru/home" target="_blank">ImpacT Academies &amp; Camps</a>
                        </h2>
                        <p>
                            ImpacT Academies & Camps a fost creat pentru
                            a oferi posibilitatea copiilor să obțină abilități
                            digitale necesare pentru a îi transforma din
                            consumatori în creatori tehnologici. Chiar dacă
                            copilul în viitor nu va activa în această sferă,
                            aceste abilități îl vor ajuta obțină succes în
                            lumea contemporană.
                        </p>
                        <p>
                            Folosind programul educațional propriu, adaptat
                            din școlile din Sillicon Valley, noi predăm nu doar
                            abilități tehnice - design grafic, programare,
                            create website-urilor, jocurilor, robotica, dar și
                            abilități de dezvoltare personală: capacitatea de
                            a administra corect timpul, abilități de
                            prezentare, de convingere, de negociere și
                            altele.
                        </p>
                        <p>
                            Noi suntem bucuroși să îi extindem orizontul
                            oportunităților generației viitoare, oferind
                            abilitățile necesare pentru a deveni leader în
                            epoca digitală. Alăturați-vă călătoriei noastre!
                        </p>
                    </div>
                    <div class="left-block flex-item-6">
                        <a href="http://impactacademies.com/ru/home" class="logo" target="_blank">
                            <img src="{{ asset('@img/impact.svg') }}" alt="ImpacT Academies & Camps" class="iello-logo" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="members-info">
                <div class="container flex-row">
                    <div class="left-block flex-item-6">
                        <a href="http://www.iello.ro/" class="logo">
                            <img src="{{ asset('@img/iello.png') }}" alt="iEllo IT" class="iello-logo" />
                        </a>
                    </div>
                    <div class="flex-item-6 right-block">
                        <h2 class="members-header"><a href="http://www.iello.ro/" target="_blank">iEllo IT</a></h2>
                        <p>
                            iELLO este un furnizor de soluții IT
                            internaționale specializat în dezvoltarea de
                            software și integrarea SOA care oferă
                            organizațiilor agilitate, scalabilitate,
                            interoperabilitate, caracteristici și performanță fără precedent.
                        </p>
                        <p>
                            iELLO este mândră de rolul de pionierat auto-
                            asumat ca furnizor de soluții de integrare SOA în
                            regiune, bazat pe o platformă de middleware de
                            100% din clasa enterprise open source de la
                            WSO2.
                        </p>
                        <p>
                            Echipa noastră și-a construit o reputație
                            excelentă prin implementarea celor mai dificile
                            proiecte și prin sprijinirea rapidă a clienților
                            noștri, fie în timpul implementărilor, fie prin
                            suportul de producție.
                        </p>
                        <p>
                            Agilitatea companiei iELLO este susținută de
                            cunoștințele și expertiza extinsă ale echipei care
                            ne permit să răspundem cerințelor clienților într-
                            un mediu concurențial competitiv și tehnic.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/members.min.js') }}"></script>
{% endblock %}
