{% extends '../layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/pricing.min.css') }}" />
{% endblock %}

{% set amenities = [
    {'name': 'Internet rapid', 'image': '@img/icon-4.svg'},
    {'name': 'Săli de conferințe', 'image': '@img/icon-5.svg'},
    {'name': 'Aparat de imprimare', 'image': '@img/icon-6.svg'},
    {'name': 'Acces 24/7', 'image': '@img/icon-10.svg'},
    {'name': 'Evenimente regulate', 'image': '@img/icon-7.svg'},
    {'name': 'Amplasare strategică', 'image': '@img/icon-8.svg'},
    {'name': 'Administrator', 'image': '@img/icon-1.svg'},
    {'name': 'Apa pură', 'image': '@img/icon-9.svg'},
    {'name': 'Bucătărie modernă', 'image': '@img/icon-3.svg'},
    {'name': 'Servicii de curățare', 'image': '@img/icon-2.svg'}
]%}

{% set hubs = [
    {'text': 'Loc de muncă fix'},
    {'text': 'Acces gratuit la sălile de conferințe'},
    {'text': 'Acces gratuit la toate evenimentele și cursurile'},
    {'text': 'Acces biometric 24/7'},
    {'text': 'Cafea, ceai, fructe și biscuiți'},
    {'text': 'Expunere gratuită la partenerii 404'},
    {'text': 'Invitație gratuită pentru 1 săptămână la 2 prieteni'},
    {'text': 'Utilizarea gratuită a proiectoarelor'},
    {'text': 'Sală de depozitare/servere'}
]%}

{% set teams = [
    {'text': 'Loc de muncă fix'},
    {'text': 'Acces gratuit la sălile de conferințe'},
    {'text': 'Acces gratuit la toate evenimentele și cursurile'},
    {'text': 'Acces biometric 24/7'},
    {'text': 'Cafea, ceai, fructe și biscuiți'},
    {'text': 'Posibilitate de a colabora cu partenerii 404'},
    {'text': 'Bilete gratuite la conferințele din domeniul Cloud Computing'},
    {'text': 'Certificare gratuită în Cloud Computing'},
    {'text': 'Sală de depozitare/servere'}
]%}

{% set days = [
    {'text': 'Loc de muncă'},
    {'text': 'Acces gratuit la sălile de conferințe'},
    {'text': 'Acces gratuit la 1 eveniment sau 1 curs'},
    {'text': 'Acces biometric 24/7'},
    {'text': 'Cafea, ceai, fructe și biscuiți'}
]%}

{% set weekdays = [
    {'text': 'Loc de muncă fix'},
    {'text': 'Acces gratuit la sălile de conferințe'},
    {'text': 'Acces biometric de la 9:00 până la 18:00'},
    {'text': 'Acces gratuit la toate evenimentele și cursurile'},
    {'text': 'Cafea, ceai, fructe și biscuiți'}
]%}

{% block body %}
    <div class="container new-page">
        <div class="pages">
            <span class="text-page">
                404Moldova este o comunitate de firme IT și specialiști IT din Moldova. Avem ca scop să susținem comunitatea
                locală IT a companiilor mici și a specialiștilor calificați să fie competitivi la nivel global.
            </span>
        </div>
    </div>
    <div class="wrapper pricing" itemscope itemprop="mainContentOfPage">
        <section class="main-block">
            <div class="container">
                <div class="offers">
                    <div class="plans">
                        <div class="plan">
                            <img src="{{ asset('@img/plan1.jpg') }}" alt="Test Drive" />
                            <div class="text-plan">
                                <div class="text-p">Hub Resident</div>
                                <div class="btn-plan">
                                    <a itemprop="url" href="https://orders.fest.md/ro/biz/404-moldova" class="button" target="_blank">Book Your Space</a>
                                </div>
                            </div>
                        </div>
                        <div class="plans-points">
                            <div class="text-p">2500 lei</div>
                            <ul>
                                {% for hub in hubs %}
                                    <li><span>{{ hub.text }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="btn-plan-contact">
                            <a itemprop="url" href="/ro/contact/" class="button">Contactează-ne</a>
                        </div>
                    </div>
                    <div class="plans">
                        <div class="plan">
                            <img src="{{ asset('@img/plan2.jpg') }}" alt="Free Plan" />
                            <div class="text-plan">
                                <div class="text-p">Teams</div>
                                <div class="btn-plan">
                                    <a itemprop="url" href="https://orders.fest.md/ro/biz/404-moldova" class="button" target="_blank">Rezervați-vă un spațiu</a>
                                </div>
                            </div>
                        </div>
                        <div class="plans-points">
                            <div class="text-p">
                                <div class="number-input">
                                    <button class="change-quantity" data-event="minus"></button>
                                    <input class="quantity" min="1" name="quantity" value="2" type="number">
                                    <button class="change-quantity plus" data-event="plus"></button>
                                </div>
                                <div class="price">
                                    <span id="team-price-value">4750</span><span>lei</span>
                                </div>
                            </div>
                            <ul>
                                {% for team in teams %}
                                    <li><span>{{ team.text }}</span></li>
                                {% endfor %}
                            </ul>
                            <div class="notes">
                                <div class="glay-line"></div>
                                <p class="gray-text">Apartenență gratuită</p>
                                <p class="gray-text">Cel mai important bonus al platformei noastre e apartenență gratuită. Dacă un membru e ales să lucreze asupra unui proiect (unor proiecte) al(-e) partenerului, partenerul achită apartenența membrului.</p>
                            </div>
                        </div>
                        <div class="btn-plan-contact">
                            <a itemprop="url" href="/ro/contact/" class="button">Contactează-ne</a>
                        </div>
                    </div>
                    <div class="plans">
                        <div class="plan">
                            <img src="{{ asset('@img/plan3.jpg') }}" alt="Individual" />
                            <div class="text-plan">
                                <div class="text-p">Day Pass</div>
                                <div class="btn-plan">
                                    <a itemprop="url" href="https://orders.fest.md/ro/biz/404-moldova" class="button" target="_blank">Rezervați-vă un spațiu</a>
                                </div>
                            </div>
                        </div>
                        <div class="plans-points">
                            <div class="text-p">150 lei</div>
                            <ul>
                                {% for day in days %}
                                    <li><span>{{ day.text }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="btn-plan-contact">
                            <a itemprop="url" href="/ro/contact/" class="button">Contactează-ne</a>
                        </div>
                    </div>
                    <div class="plans">
                        <div class="plan">
                            <img src="{{ asset('@img/plan4.jpg') }}" alt="Business" />
                            <div class="text-plan">
                                <div class="text-p">Weekdays</div>
                                <div class="btn-plan">
                                    <a itemprop="url" href="https://orders.fest.md/ro/biz/404-moldova" class="button" target="_blank">Rezervați-vă un spațiu</a>
                                </div>
                            </div>
                        </div>
                        <div class="plans-points">
                            <div class="text-p">550 lei/săptămână</div>
                            <ul>
                                {% for weekday in weekdays %}
                                    <li><span>{{ weekday.text }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="btn-plan-contact">
                            <a itemprop="url" href="/ro/contact/" class="button">Contactează-ne</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container new-page">
                <div class="pages coworking">
                    <h1 class="page-name">Facilități</h1>
                    <p class="text-p">Toate planurile tarifare includ următoarele facilități:</p>
                </div>
                <div class="amenities-block display-flex">
                    {% for amenity in amenities %}
                        <div class="bloks-icons">
                            <img src="{{ asset( amenity.image ) }}" alt="{{ amenity.name }}">
                            <div class="icons-text">{{ amenity.name }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/pricing.min.js') }}"></script>
{% endblock %}
